%div{id: "blog"}
  - @posts.each do |post|
    %div{id: "article-#{post.id}", class: "article"}
      %div{class: "title-bar"}
        %span{class: "title"}= post.title
        %span{class: "published-on"}= published_date(post.published_on)
      %div{class: "content"}= markdown(post.article)
