div#head {
  background-color: #000;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

div#head div p {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 20px;
  color: #999;
  margin-left: 50px;
}
