div#head {
  background-color: #000;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

div#head div p {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 20px;
  color: #b7e5f4;
  margin-left: 50px;
  float: left;
}

div#head div#logout a {
  margin-top: 16px;
  float: right;
  margin-right: 50px;
  color: #dcf2f4;
}
