div#blog {
  margin: 10px 100px;
  padding: 20px;

  background-color: #d0eaff;

  div.article {
    color: #036;
    margin-bottom: 40px;
  }

  .title-bar {
    font-size: 20px;

    a {
      text-decoration: none;

      &:hover {
        color: #024;
        text-decoration: underline;
      }
    }
  }

  .title{
    color: #024;
  }

  .published-on {
    color: #399;
  }

  .content {
    margin-top: 6px;
    font-size: 14px;
  }

  h1, h2, h3 {
    color: #048;
  }
}
